.search-imge{
  position: absolute;
  width:1.5rem;
  top: 0.8rem;
  left: 7%;
}
.search{
  position: absolute;
  border-radius: 1rem;
  top: 0.5rem;
  left: 5%;
  height: 2rem;
  line-height: 2rem;
  width: 80%;
  padding-left: 2.5rem;
  border:0px;
  background:rgba(255,255,255,0.7);
}

.screening-conditions{
  display: flex;
  background: #FFFFFF;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid #D7D7D7;
}
.triangle{
  width:0.9rem;
}

.screening-conditions-font{
  color: #8A8A8A ;
  font-size: 0.9rem;
}
.screening-conditions-region{
  flex: 1;
}

.screening-conditions-price{
  flex: 1;
}
.screening-conditions-mode{
  flex: 1.6;
}
.screening-conditions-field{
  flex: 1;
}
.consultant-list{
  /*overflow: hidden;*/
  /*position: absolute;*/
  /*overflow: auto;*/
  /*max-height: 600px;*/

  /*padding-top: 200px;*/
}
.consultant{
  display: flex;
  height: 10rem;
}
.line{
  margin-left: 5%;
  width: 90%;
  border-bottom: 1px solid #D7D7D7;
  opacity:0.5;

}
.head-portrait{
  flex: 1;
  background: #FFFFFF;
  height: 10rem;
  line-height: 10rem;

}
.head-portrait-img{
  width:4rem;
  border-radius: 2rem;
}

.introduce{
  flex: 3.7;
  background: #FFFFFF;
  height: 10rem;
}
.consultant-name{
  font-size: 1.05rem;
  color: #4A4A4A;
  background: #FFFFFF;
  height: 3rem;
  line-height: 3rem;
  text-align : left
}
.consultant-describe{
  font-size: 0.77rem;
  color: #6E6E6E;
  background: #FFFFFF;
  height: 4rem;
  text-align : left;
  margin-right: 1rem;
}
.consultant-price{
  font-size: 1.05rem;
  color: #4A4A4A;
  background: #FFFFFF;
  height: 3rem;
  text-align : left

}


